.App {
  text-align: center;
  background-color: rgb(231, 231, 231);
  height: 100%;
}
.Header {
  background-color: #ffffff;
  overflow: hidden;
}
.HeaderComps {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100%;
  grid-template-areas: "Home" "Header" "User";
  background-color: white;
}

.topicList {
  list-style: none;
  border-style: solid;

  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}
.ArticlesList {
  display: grid;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: "NavBar" "main";
}
.SingleArticle {
  display: grid;
  grid-template-columns: 1fr 3fr;

  grid-template-areas: "NavBar" "main";
}
.NavTopics {
  list-style: none;
}
.article {
  list-style: none;
  border-style: solid;
  border-color: black;
}
.Comment {
  list-style: none;
}
.HomeLink {
  color: #fff !important;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.HomeLink:hover {
  color: #ffffff !important;
  background: #656566;
  border-color: #000000 !important;
  transition: all 0.4s ease 0s;
}

.TopicLinks {
  color: #fff !important;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.TopicLinks:hover {
  color: #ffffff !important;
  background: #656566;
  border-color: #000000 !important;
  transition: all 0.4s ease 0s;
}
